* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'VT323', monospace;
}

:root{
    --top:rgb(106, 23, 190);
    --box:#f75842;
    --box1:rgb(230, 94, 237);
    --btm:rgba(109, 57, 182, 0.536);
    --bubble: #e6bd29;
}

.dark-theme{
    --top:rgb(230, 94, 237);
    --box:#7979ff;
    --box1:#1f0d70;
    --btm:rgba(109, 57, 182, 0.536);
    --bubble: #e6bd29;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg-image {
    /* The image used */
    background-image: url("night.png");
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* background-color: rgb(179, 223, 179); */
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;

}

.panel {
    width: 80%;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
}

.ptop {
    font-size: 25px;
    padding: 10px;
    display: flex;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: flex-start;
    color: white;
    height: 100px;
    width: 100%;
    background-color: var(--top);
    justify-content: space-around;
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box {
    color: black;
    border: 3px solid black;
    font-weight: 600;
    padding: 1vh 2vh;
    background-color: var(--box);
    border-radius: 5px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    border: 3px solid black;
    font-weight: 600;
    padding: 1vh 2vh;
    width: 7vh;
    justify-content: center;
    font-size: 2vh;
    background-color: var(--box1);
    border-radius: 5px;
}

.box1:hover{
    cursor: pointer;
}

.pbtm {
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: var(--btm);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    width: 7vh;
    height: 7vh;
    background-color: var(--bubble);
    border: 2px black solid;
    color: black;
    border-radius: 50%;
}

.bubble:hover {
    background-color: var(--box);
    cursor: pointer;
}

.over{
    font-size: 7vh;
    color: white;
}

img{
    width: 4vh;
}

@media only screen and (max-width: 600px) {

    .ptop {
        flex-direction: row;
        height: 15vh;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 2vh 0;
    }

    .pbtm{
        height: 75vh;
    }

    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh 1vh;
        height: 11vh;
        /* justify-content: space-evenly; */
        /* width: 60%; */
    }

    .panel {
        height: 95%;
        width: 90%;
        border-radius: 0;
    }

    .bubble {
        width: 6.5vh;
        height: 6.5vh;
    }
}